

   <div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><span>//</span> Upload Sales</h2>
                </div>
            </div>
        </div>
    </div>   
<script type="text/javascript">

    $(document).ready(function () {
        $('#UploadBtn').hide();
         $('#LoadRecordsButton').hide();
        
        $('#Files').change(function () {
              $('#UploadBtn').show();
        })
         $('#UploadBtn').click(function () {

            var fileUpload = $("#Files").get(0);
            var files = fileUpload.files;
            // Create FormData object  
            var fileData = new FormData();
            // Looping over all files and add it to FormData object  
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            $.ajax({
                url: '@Url.Action("UploadFiles")',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                async: false,
                success: function (result) {
                    if (result != "") {
                       
                        LoadProgressBar(result);
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

        });
      
    });
    function LoadProgressBar(result) {
            var progressbar = $("#progressbar-5");
            var progressLabel = $(".progress-label");
            progressbar.show();
            $("#progressbar-5").progressbar({
                //value: false,
                change: function () {
                    progressLabel.text(
                     progressbar.progressbar("value") + "%");
                },
                complete: function () {
                    progressLabel.text("Loading Completed!");
                    progressbar.progressbar("value", 0);
                    progressLabel.text("");
                    progressbar.hide();
                    grid();
                    $("#Files").val("");
                    
                }
            });
            function progress() {
                var val = progressbar.progressbar("value") || 0;
                progressbar.progressbar("value", val + 1);
                if (val < 99) {
                    setTimeout(progress, 25);
                }
            }
            setTimeout(progress, 100);
        }
    function grid() {
          $('#BeverasaleContainer').jtable({
            title: 'Beverage Sale List',
            paging: true,
            pageSize: 25,
            toolbar: {   
},
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: '@Url.Action("LoadBeveraleData")',
                deleteAction: '@Url.Action("DeleteBeverage")',
                @*updateAction: '@Url.Action("UpdateCustomerCode")',
                createAction: '@Url.Action("CreateCustomerCode")'*@
            },
            fields: {
                BeverageSaleId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                 Bol_Number: {
                    title: 'Bol#',
                     width: '23%'
                },
                 MaterialId: {
                    title: 'Material',
                     width: '40%',
                     options: '@Url.Action("GetMaterialOptions")'
                },
                Item_Code: {
                    title: 'Item_Code',
                    width: '33%',

                },
                Ship_To: {
                    title: 'Ship_To',
                    width: '23%'
                },
                Ship_To_Aplha_Name: {
                    title: 'Ship_To_Aplha_Name',
                    width: '23%'
                },
                Sold_To: {
                    title: 'Sold_To',
                    width: '23%'
                },
                Sold_To_Alpha_Name: {
                    title: 'Sold_To_Alpha_Name',
                    width: '23%'
                },
                Ship_From: {
                    title: 'Ship_From',
                    width: '23%'
                },
                Ship_Date: {
                    title: 'Ship_Date',
                    width: '23%',  type: 'date',
                        displayFormat: 'yy-mm-dd'
                },
                //Ship_Time: {
                //    title: 'Ship_Time',
                //    width: '23%'
                //},
                //Promised_Date: {
                //    title: 'Promised_Date',
                //    width: '23%',
                //     type: 'date',
                //        displayFormat: 'yy-mm-dd'
                //},
                //Promised_Time: {
                //    title: 'Promised_Time',
                //    width: '23%'
                //},

                Carrier: {
                    title: 'Carrier',
                    width: '12%'
                },
                Trailer_Number: {
                    title: 'Trailer_Number',
                    width: '12%'
                },
                // Seal_Number: {
                //    title: 'Seal#',
                //    width: '12%'
                //},
                //Customer_PO: {
                //    title: 'Customer_PO',
                //    width: '12%'
                //},
                 Quantity: {
                    title: 'Quantity',
                    width: '12%'
                },
                  Size: {
                    title: 'Size',
                    width: '12%'
                },
                   Neck_Size: {
                    title: 'Neck_Size ',
                    width: '12%'
                },
                    CAN_END: {
                    title: 'CAN_END ',
                    width: '12%'
                },

            }
        });
        $('#BeverasaleContainer').jtable('load', {});
        //Load student list from server
        $('#LoadRecordsButton').click(function (e) {
                e.preventDefault();
                $('#BeverasaleContainer').jtable('load', {
                    MaterialId: $('#Material').val(),

                });
            });
          $('#LoadRecordsButton').click();
    }
</script>


<div class="page-content">
    <div class="container">
        <div id="FileBrowse">
            <div class="row">
                <div class="col-sm-4">
                    <input type="file" id="Files" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="UploadBtn" class="btn btn-danger" value="Upload" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div id="progressbar-5">
                    <div class="progress-label">
                    </div>
                </div>
            </div>
        </div>
        <div class="site-container">
            <div class="filtering">
                <form runat="server">
                    <label>

                        <button type="submit" id="LoadRecordsButton">
                            Load records
                        </button>
                </form>
            </div>
            <div id="BeverasaleContainer"></div>
        </div>
    </div>
</div>
